:root {
    --gold-darker: #a07b1b;
    --gold-dark: #dead32;
    --grey: #d8d8d8;
}


html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
}

a{
    text-decoration: none;  
    color: white;
}

body {
    font-family: 'Poppins', sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background: url("../assets/banner-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: black;
    padding: 50px 200px;
}


header {
    width: 100%;
    padding: 20px 0;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

nav ul li{
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

nav ul li a:hover {
    color: var(--gold-dark);
}

.logo img {
    width: 100%;
}

/* Header horizontal line */
.headerLine {
    margin: 10px 0;
    background-color: white;
    height:1px;
}

/* Banner Text */
.bannerText--ctn {
    width: 100%;
    height: 20vh;
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    /* border: 1px solid red; */
}

.bannerText h1 {
    font-size: 50px;
    font-weight: 200;
    line-height: 1;
    margin-bottom: 15px;
}

.bannerText p {
    margin-top: 30px;
    padding: 30px;
    line-height: 2;
}

@media (max-width: 1010px) {
    .banner{
        padding: 50px 100px;
    }
}

@media (max-width: 811px) {
    .banner{
        padding: 50px 30px;
    }
}

@media (max-width: 750px) {
    .bannerText h1 {
        font-size: 40px;
    }
    
    .bannerText p {
        font-size: 13px;
    }
}

@media (max-width: 620px) {
    .bannerText h1 {
        font-size: 30px;
    }
    
    .bannerText p {
        font-size: 12px;
    }

    nav ul{
        gap: 30px;
    }
    
    nav ul li a {
        font-size: 12px;
    }

    .logo {
        font-size: 12px;
    }
}


@media (max-width: 500px) {
    .bannerText h1 {
        font-size: 25px;
    }
    
    .bannerText p {
        font-size: 10px;
    }

    nav ul{
        gap: 15px;
    }
    
    nav ul li a {
        font-size: 12px;
    }

    .logo {
        font-size: 12px;
    }
}







.ourproject {
    color: var(--gold-dark);
    font-size: 60px;
    font-weight: 200;
    line-height: 1;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

@media (max-width: 1150px) {
    .ourproject {
        margin-top: 100px;
        font-size: 40px;
    }
}

@media (max-width: 620px) {
    .ourproject {
        font-size: 30px;
    }
}

/* Gallery */

.gallery {
    display: flex;
    padding: 1px;
    transition: 0.3s;
  }
  .gallery:hover .gallery__image {
    filter: grayscale(1);
  }
  .gallery__column {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
  .gallery__link {
    margin: 2px;
    overflow: hidden;
  }
  .gallery__link:hover .gallery__image {
    filter: grayscale(0);
  }
  .gallery__link:hover .gallery__caption {
    opacity: 1;
  }
  .gallery__thumb {
    position: relative;
  }
  .gallery__image {
    display: block;
    width: 100%;
    transition: 0.3s;
  }
  .gallery__image:hover {
    transform: scale(1.1);
  }
  .gallery__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
  }


@media (max-width: 1190px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2,50%);
    }
    
    .gallery__column {
        width: 100%;
      }
}

@media (max-width: 565px) {
    .gallery {
        grid-template-columns: repeat(1,100%);
    }
}



/* Contact Us */
.contactUs--ctn {
    width: 100%;
    display: flex;
    padding: 50px 250px;
}

.contactUs--text {
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.contactUs--text-ctn h1 {
    color: var(--gold-dark);
    font-weight: 200;
    font-size: 40px;
    padding-bottom: 20px;
}

.contactUs--text-ctn p {
    font-weight: 300;
    padding-bottom: 40px;
}

.contactUs--text-ctn .callUsForConsultation {
    padding-bottom: 10px;
    font-weight: 600;
    color: var(--gold-dark);
}

.contactUs--text-ctn h2 {
    font-size: 30px;
    color: var(--gold-dark);
}



.contactUs--Form {
    width: 50%;
    background: white;
    box-shadow: 10px 10px 27px 0px rgba(0, 0, 0, 0.151);
    padding: 30px;
}

.formInputs {
    display: grid;
    grid-template-columns: repeat(2,50%);
}

.formInputs div {
    padding: 10px;
}

.formInput {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border: none;
    border: 1px solid grey;
    outline: none;
}

.textarea {
    padding: 10px;
}

.textarea textarea {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border: none;
    border: 1px solid grey;
    outline: none;
}

.submit {
    margin-top: 10px;
    border: none;
    background: none;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    background: var(--gold-dark);
}

.submit:hover{
    background-color: var(--gold-darker);
}


@media (max-width: 1280px) {
    .contactUs--ctn {
        padding: 50px 150px;
    }
}

@media (max-width: 1160px) {
    .contactUs--ctn {
        padding: 50px 100px;
    }
}

@media (max-width: 1100px) {
    .contactUs--ctn {
        display: grid;
        grid-template-columns: repeat(1,100%);
        place-items: center;
    }

    .contactUs--text {
        width: 100%;
    }

    .contactUs--Form {
        width: 100%;
    }
}

@media (max-width: 970px) {
    .contactUs--ctn {
        padding: 50px 50px;
    }
}

@media (max-width: 800px) {
    .contactUs--ctn {
        padding: 50px 50px;
    }
}

@media (max-width: 630px) {
    .contactUs--ctn {
        padding: 50px 50px;
    }

    .formInputs {
        grid-template-columns: repeat(1,100%);
    }

    .contactUs--text-ctn h1 {
        font-size: 30px;
    }

    .contactUs--text-ctn h2 {
        font-size: 20px;
    }
}













/* FOOTER */
footer {
    width: 100%;
    margin-top: 150px;
    padding: 50px 250px;
    background: linear-gradient(to right, rgb(22, 22, 22), rgb(44, 44, 44));
    color: white;
}

.footer-topSession {
    display: grid;
    grid-template-columns: repeat(3,33.3%);
}

.footer-about {
    padding: 30px 50px;
}

footer h1 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.footer-about p {
    font-size: 15px;
}

.footer-nav {
    padding: 30px 50px;
}

.footer-nav ul li {
    margin-bottom: 10px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: white;
}

.footer-socials {
    padding: 30px 50px;
}


.footer-bottomSession {
    display: grid;
    grid-template-columns: repeat(3,33.3%);
}

.footer-bottomSession i {
    margin-right: 20px;
    font-size: 30px;
}

.f-phone, .f-location, .f-email {
    padding: 20px;
    display: flex;
    align-items: center;
}

.f-phone, .f-email {
    background: rgb(50, 50, 50);
}

.f-location {
    background: rgb(60, 60, 60);
}

.f-texts h1 {
    padding-bottom: 0;
    font-size: 15px;
    font-weight: 100;
}

.copy {
    margin-top: 50px;
    text-align: center;
}

.copy p {
    font-size: 10px;
    color: var(--grey);
}


@media (max-width: 1280px) {
    footer {
        padding: 50px 150px;
    }
}

@media (max-width: 1150px) {
    footer {
        padding: 50px 100px;
    }
}

@media (max-width: 1135px) {
    footer {
        padding: 50px 50px;
    }
}

@media (max-width: 900px) {
    .footer-topSession {
        grid-template-columns: repeat(1,100%);
    }

    .footer-bottomSession {
        grid-template-columns: repeat(1,100%);
    }
}
